header {
    background-color: #000000;
    height: 100vh;
    color: white;
    padding-left: 80px;
    padding-top: 30px;

    @media (max-width: 1111px) {
        padding: 20px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 180px;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #FA2759;
    }

    img {
        height: 48px;
    }

    @media (max-width: 1111px) {
        padding-right: 0;
        align-items: normal;
    }
}

.navbarLinks {
    a {
        padding-left: 60px;
    }
}

.headerContent {
    font-weight: 700;
    font-size: 64px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    a {
        margin-top: 60px;
    }


    @media (max-width: 1111px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
        padding: 0;
        justify-content: center;

        a {
            margin-top: 30px;
        }
    }
}
    

.contactBtnDiv {
    display: flex;
    justify-content: left;

    @media (max-width: 1111px) {
        justify-content: center;
        display: flex;
    }
}

.contactBtn {
    text-decoration: none;
    background-color: #000000;
    color: #2dfcd8;
    border: 1px solid #2dfcd8;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;

    &:hover {
        filter: brightness(1.3);
        background-color: #131111;
    }

    @media (max-width: 1111px) {
        width: 145px;
        height: 50px;
    }
}

.profilePic {
    padding-left: 10px;
    img {
        width: 350px;
        height: auto;
        border-radius: 100%;
    }
    @media (max-width: 1111px) {
        padding-left: 0;
        img {
        width: 260px;
        }
    }
    @media (max-width: 400px) {
        img {
        width: 200px;
        }
    }
}

.nextSectionBtn {
    img {
        position: absolute;
        top: 600px;
        left: 48%;
        margin-bottom: 80px;
        border: 1px solid white;
        border-radius: 100%;
        padding: 16px;
        width: 20px;
    }
    @media (max-width: 1111px) {
        img {
            top: 607px;
            left: 44%;
        }
    }
}

.mobileNavbar {
    margin-right: 20px;
    margin-bottom: 40px;

    @media (max-width: 1111px) {
        img {
            height: 40px;
        }
    }

}

#mobileNavbarContent {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 93vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

    a {
        color: white;
        text-decoration: none;
        font-size: 40px;
        margin-top: 40px;
    }
}

@media (max-width: 1111px) {
    .hideMobile {
        display: none;
    }
}

@media (min-width: 1111px) {
    .hideDesktop {
        display: none;
    }
}

.d-none {
    display: none !important;
}