<header>

    <div class="navbar">
        <img src="./assets/img/logo3.png" alt="">
        <div class="navbarLinks"><a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">PORTFOLIO</a>
        </div>
    </div>

    <div class="headerContent">
        <div>
            Hi, <br>
            I´m <span style="color: #FA2759">Fabian</span> Wagner <br>
            Front End developer

            <a class="contactBtn" href="#contact">Contact Me</a>
        </div>
        <div class="profilePic">
            <img src="./assets/img/profilePic.png" alt="">
        </div>
        <div class="introScroll">
            <a href="#skills">
                <img src="./assets/img/arrow.png">
            </a>
        </div>
    </div>

</header>