<div class="section" id="skills">
    <div class="content">
        <h1>My Skills</h1>
        <div class="skillSection" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">

            <div class="box_1">
                <span>Html/CSS</span>
            </div>
            <div class="innerBox_1">
                <img src="./assets/img/html_css.png">
            </div>

            <div class="box_2">
                <span>Javascript</span>
            </div>
            <div class="innerBox_2">
                <img src="./assets/img/java_script.png">
            </div>

            <div class="box_3">
                <span>Angular</span>
            </div>
            <div class="innerBox_3">
                <img src="./assets/img/angular.png">
            </div>

            <div class="box_4">
                <span>Git</span>
            </div>
            <div class="innerBox_4">
                <img src="./assets/img/git.png">
            </div>

            <div class="box_5">
                <span>Design Thinking</span>
            </div>
            <div class="innerBox_5">
                <img src="./assets/img/design.png">
            </div>


            <div class="box_6">
                <span>SCSS/SASS</span>
            </div>
            <div class="innerBox_6">
                <img src="./assets/img/scss.png">
            </div>

            <div class="box_7">
                <span>Typescript</span>
            </div>
            <div class="innerBox_7">
                <img src="./assets/img/typescript.png">
            </div>

            <div class="box_8">
                <span>SCRUM</span>
            </div>
            <div class="innerBox_8">
                <img src="./assets/img/scrum.png">
            </div>

            <div class="box_9">
                <span>API</span>
            </div>
            <div class="innerBox_9">
                <img src="./assets/img/api.png">
            </div>

        </div>
    </div>