<div class="thirdSection" id="portfolio">
    <div class="thirdSectionContent">
        <h1>My work</h1>

        <div class="workApps">
            <div data-aos="zoom-out-left" class="mobileMode">
                <a href="#" target="_blank">
                    <div class="workAppsTitle1">Bitcoin-Checker</div>
                    <div class="workAppsTitleJS1">JavaScript</div>
                    <img class="workAppsStyle borderJavaScript" src="assets/img/laptop1.jpg">
                </a>
                <a href="#" target="_blank">
                    <div class="workAppsTitle2">El Pollo Loco</div>
                    <div class="workAppsTitleJS3">JavaScript</div>
                    <img class="workAppsStyle borderJavaScript" src="assets/img/laptop2.jpg">
                    
                </a>
            </div>
            <div data-aos="zoom-out-right" class="mobileMode">
                <a href="#" target="_blank">
                    <div class="workAppsTitle3">Kanban-board</div>
                    <div class="workAppsTitleJS2">JavaScript</div>
                    <img class="workAppsStyle borderJavaScript" src="assets/img/laptop3.jpg">
                </a>

                <a href="#" target="_blank">
                    <div class="workAppsTitle4">Ring of Fire</div>
                    <div class="workAppsTitleAng1">Angular</div>
                    <img class="workAppsStyle borderAngular" src="assets/img/laptop.jpg">
                </a>
            </div>
        </div>
    </div>
</div>