<div class="fourthSection" id="about">
    <div class="content">

        <div class="aboutIntro" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/profilePic.png">
            <div>
                <h1>About me</h1>
                <span> <em>
                        "I´m an adventurous optimist who loves traveling and facing new challenges"
                    </em></span>
            </div>
        </div>

        <div class="description" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">

            <div class="descriptionContent">
                <img src="assets/img/walk.png">
                <h3>My Journey Began</h3>
                <span>as a teenager, finding interest in Software and Hardware, disassembling and assembling computer
                    parts, modding computer games.</span>
            </div>

            <div class="descriptionContent">
                <img src="assets/img/heart.png">
                <h3>First Contact</h3>
                <span>I stumbled upon a tutorial video of coding a basic snake game.
                    During that I discovered my interest in coding. It felt easy and fun for me.
                </span>
            </div>

            <div class="descriptionContent">
                <img src="assets/img/search.png">
                <h3>IT Experience</h3>
                <span>Working as a video game localization tester in Canada, I fell in love with the IT Industry and knew that I want to continue working in that field.</span>
            </div>

            <div class="descriptionContent">
                <img src="assets/img/plane.png">
                <h3>Software Engineer</h3>
                <span>In order to turn my new discovered hobby into a profession, I completed an intensive course at the Developer Academy in August 2022.</span>
            </div>
        </div>

    </div>
</div>