footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    height: 30vh;
    color: #8491A0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    max-width: 1111px;
    width: 100vw;
    text-align: center;
    align-items: center;

    img {
        height: 40px;
        margin: 20px 30px;
    }

    @media (max-width: 1111px) {
        flex-direction: column-reverse;
    }
}

.footerLink {
    display: flex;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #8491A0;
        text-align: center !important;
    }

    &:hover {
        filter: brightness(1.3);
    }
}

.footerPic {
    margin-right: 40px;

    @media (max-width: 1111px) {
        margin-right: 10px;
    }
}

#privacy,
#imprint {
    position: absolute;
    bottom: -3665px;
    color: white;
    background-color: #131111;
    height: 890px;
    width: 60%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #2dfcd8;
    text-align: center;
    cursor: default;

    @media (max-width: 1110px) {
        bottom: -4965px;
        height: 792px;
        width: 93%;
    }

    a {
        text-decoration: none;
        color: rgba(152, 154, 255, 0.712);

        &:hover {
            text-decoration: underline;
        }
    }

    #privacy {
        text-align: start !important;
    }

    button {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        font-weight: bold;
        font-size: 26px;
        color: #2dfcd8;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}