<footer>

    <div class="footerContent">

        <div class="footerLink">
            <a href="#contact">
                Imprint
            </a>
            &nbsp;-&nbsp;
            <a href="#contact">
                Legal Notice
            </a>
        </div>

        <div class="footerPic">
            <a href=""><img src="./assets/img/linkedin-box-fill.png"></a>
            <a href=""><img src="./assets/img/github-fill.png"></a>
            <a href=""><img src="./assets/img/xing-fill.png"></a>
        </div>
    </div>

</footer>