html {
    scroll-behavior: smooth;
    transition: 225ms ease-in-out;
  }

body {
    font-family: 'Inter';
    margin: 0;
    overflow-x: hidden;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #131111;
    height: 100vh;
    color: white;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 100vh;
    color: white;
}

.content {
    max-width: 1100px;
    width: 100vw;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FA2759;
}

::-webkit-scrollbar-thumb:active {
    background: #FA2759;
}